<h1>Welcome to the Systems Calender</h1>

<h2>For people who think goals are for losers.</h2>

<%= link_to "Sign Up", new_user_registration_path %> <br>
<%= link_to "Sign In", new_user_session_path %>